<ion-content [fullscreen]="true" class="splash-content">
  <div class="splash-inner">
    <img
      class="logo"
      src="assets/logo_hidrix.jpeg"
      alt="Hidrix"
      onerror="this.style.display='none'"
    />
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <ion-icon class="chevron" name="chevron-down-outline" aria-hidden="true"></ion-icon>
  </div>
  <div class="partners">
    <img src="assets/logo-fontagro.png" alt="FONTAGRO" />
    <img src="assets/logo-agrosavia.png" alt="AGROSAVIA" />
  </div>
</ion-content>
